<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Author</th>
				<th scope="col">Title</th>
				<th scope="col">Date</th>
				<th scope="col">***</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let speech of speech$ | async; let n = index">
				<th scope="row">{{ n + 1 }}</th>
				<td>{{ speech.author }}</td>
				<td><a class="titleLink" [routerLink]="[ speech.id ]">{{ speech.title }}</a></td>
				<td>{{ speech.date.seconds * 1000 | date: 'longDate' }}</td>
				<td>
					<button class="btn btn-outline-primary btn-sm"
							[routerLink]="['/speeches', speech.id, 'edit']">Edit
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>