<div class="container">
	<div class="row">
		<div class="col-6">
			<button class="btn btn-outline-primary my-2 my-sm-0" 
				(click)="onViewAll()">View All
			</button>
		</div>
		<div class="col-6">
			<form class="form-inline my-2 my-lg-0 justify-content-end">
				<input  class="form-control mr-sm-2" 
						type="text"
						[formControl]="searchControl"
						placeholder="Search By...">
				
				<select class="form-control mr-sm-2" id="formControlSelect" [formControl]="selectControl">
					<option>Author</option>
					<option>Title</option>
					<option>Month</option>
					<option>Year</option>
				</select>
				<button class="btn btn-outline-primary my-2 my-sm-0" 
						type="submit"
						(click)="onSearch()">Search
				</button>
			</form>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Author</th>
				<th scope="col">Title</th>
				<th scope="col">Date</th>
				<th scope="col">***</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let speech of speech$ | async; let n = index">
				<th scope="row">{{ n + 1 }}</th>
				<td>{{ speech.author }}</td>
				<td><a class="titleLink" [routerLink]="[ speech.id ]">{{ speech.title }}</a></td>
				<td>{{ speech.date.seconds * 1000 | date: 'longDate' }}</td>
				<td>
					<button class="btn btn-outline-primary btn-sm"
							[routerLink]="['/speeches', speech.id, 'edit']">Edit
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<ng-container *ngIf="isNullTerm">
		<div class="alert alert-danger" role="alert">
			Search return no data!
		</div>
	</ng-container>
</div>