.navbar-brand {
    margin-left: 10px;
}

.nav-link {
    font-size: large;
    cursor: pointer;
}

.navbar { 
    border-bottom: 6px solid #e7e7e7;
}

.bg-dark {
    background-color: #103b4d!important;
}