.navbar-brand {
    margin-left: 10px;
}

.nav-link {
    font-size: large;
    cursor: pointer;
}

.navbar { 
    border-bottom: 6px solid #e7e7e7;
}

.bg-dark {
    /* background-color: #103b4d!important; */
    background-color: #0154a2!important;
}

.btn-outline-primary {
    color: white;
}